/* =======Палитра======= */
:root {
  --main-text-color: #212121;
  --sec-text-color: #757575;
  --accent: #2196f3;
  --accent-opacity: rgba(33, 149, 243, 0.6);
  --white: #ffffff;
  --white-opacity: rgba(255, 255, 255, 0.6);
  --logo: #000000;
  --alt-bg: #2f303a;
  --secondary-bg: #f5f4fa;
  --button-bg-active: #188ce8;
}

/* =======Глобальные======= */
body {
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
img {
  display: block;
}
.navigation-list,
.navigation-contact,
.feature-list,
.occupation,
.team-list,
.filter,
.works {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-logo,
.navigation-link,
.navigation-address,
.contact-logo,
.contact-link {
  text-decoration: none;
}

.hidden {
  display: none;
}

.navigation .current {
  color: var(--accent);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* =======Логотипы======= */
.navigation-logo,
.contact-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.navigation-logo {
  color: var(--logo);
}

.contact-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white);
}

.accent {
  color: var(--accent);
}

.section {
  padding: 94px 0;
}
.hero.section {
  padding: 200px 0;
}
.section.no-padding-bottom {
  padding-bottom: 0;
}

/* =======Навигация======= */

.main-header {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin-left: 93px;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-address,
.navigation-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
}

.navigation-contact {
  display: flex;
  margin-left: auto;
}

.navigation-address {
  color: var(--sec-text-color);
}

.navigation-link:hover,
.navigation-address:hover,
.navigation-link:focus,
.navigation-address:focus {
  color: var(--accent);
}

/* =======Герой======= */
.hero {
  text-align: center;
  background-color: var(--alt-bg);
}
.hero-title {
  margin: 0 auto 30px;
  width: 696px;

  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  padding: 10px 32px;
  border: 0px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent);
  color: var(--white);
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}
.button:active {
  background-color: var(--button-bg-active);
}

/* =======Преимущества======= */

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-item {
  flex-basis: 270px;
}

.feature-desc {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--sec-text-color);
  line-height: 24px;
}
.feature-list-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* =======Чем мы занимаемся======= */

.occupation {
  display: flex;
  justify-content: space-between;
}

.occupation-title,
.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* =======Наша команда======= */

.team {
  background-color: var(--secondary-bg);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.team-list-card {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.team-list-card-description {
  padding: 30px 0;
}

.team-member,
.team-role {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-member {
  margin-bottom: 10px;
  font-weight: 500;
}
.team-role {
  color: var(--sec-text-color);
}

/* =======Футер======= */
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--alt-bg);
  color: var(--white);
}

.contact-list {
  font-style: normal;
}

.contact-address {
  margin-top: 0;
  margin-bottom: 9px;
  line-height: 1.7;
}

.contact-link {
  display: block;
  margin-bottom: 9px;
  color: var(--white-opacity);
}

.contact-link:last-child {
  margin-bottom: 0;
}

.contact-link:focus,
.contact-link:hover {
  color: var(--accent-opacity);
}

/* =======ПОРТФОЛИО======= */

/* =======Фильтр======= */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 24px;
  border: 0 solid transparent;
  border-radius: 4px;

  background-color: var(--secondary-bg);
  color: var(--main-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* =======Список работ======= */

.works {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.work-list-card {
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.works-item {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-id {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--sec-text-color);
  font-size: 16px;
  line-height: 1.87;
}
